body {
  margin: 0;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}













.box {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 4px solid #3882f6;
}

.text-image {
  height: 330px;
  width: 600px;
}